{% extends "Home_Main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Verified_User.css' %}">
<body>
    <main>
      <div class="card-basic">
        <div class="card-header header-basic">
          <h1>I am a Buyer</h1>
        </div>
        <div class="card-body">
          <p><h2>Buyer</h2></p>
          <div class="card-element-hidden-basic">
            <ul class="card-element-container">
              <li class="card-element">Buy Product At Best Price with high level transparency</li>
            </ul>
                <button class="btn btn-basic" onclick="new_user('buyer')" id="buyer">Get Started</button>
          </div>
        </div>
      </div>
      
      <div class="card-standard">
        <div class="card-header header-standard">
          <h1>I want to be a seller</h1>
        </div>
        <div class="card-body">
          <p><h2>Seller</h2></p>
          <div class="card-element-hidden-standard">
            <p class="card-element-container">
              <h6 class="card-element">You can sell your product here at Best Price.</h6>
            </p>
                <button class="btn btn-standard" onclick="new_user('seller')" id="sellerr">Get Started</button>
          </div>
        </div>
      </div>
      <div class="card-premium">
        <div class="card-header header-premium">
          <h1>I want to be a Verifier</h1>
        </div>
        <div class="card-body">
          <p><h2>Verifier</h2></p>
          <div class="card-element-hidden-premium">
            <ul class="card-element-container">
              <li class="card-element">Help Us in verification and get paid</li>
            </ul>
            <button class="btn btn-premium" onclick="new_user('verifier')" id="verifier">Get Started</button>
          </div>
        </div>
      </div>
    </main>
  </body>
  {% csrf_token %}
  <script>
      var csrftoken = '{{ csrf_token }}';
  </script>
  <script type="text/javascript" src="{% static 'js/Verified_User.js' %}"></script>
{% endblock content %}